<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
{{ logo }}
    <h1>{{ text_welcome }}</h1>

    {% if not approval %}
    <p>{{ text_login }}</p>
    <p>{{ login }}</p>
    <p>{{ text_service }}</p>
    <p>{{ text_thanks }}</p>
    {% else %}
    <p>{{ text_approval }}</p>
    <p>{{ login }}</p>
    <p>{{ text_thanks }}</p>
    {% endif %}
    <p>{{ store }}</p>
    {{ unsubscribe }}
</body>
</html>