{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="fw d-flex justify-content-between align-items-center">
                <h1>{{ heading_title }}</h1>
                <div class="pull-right">
                    <button type="submit" form="form-project" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-floating circle btn-sm btn-primary">
                        <i class="fa fa-save"></i>
                    </button>
                    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-floating circle btn-sm btn-default">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mt-5">
            <div class="card-header">
                <h5><i class="fa fa-pen white-text"></i> {{ text_form }}</h5>
            </div>
            <div class="card-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-project">
                    <div class="form-group">
                        <label for="input-title" class="control-label">{{ text_title }}</label>
                        <input name="title" type="text" id="input-title" class="form-control validate" value="{{ title }}" required>
                    </div>

                    <label for="textarea-description" class="control-label label-small">{{ text_description }}</label>
                    <div class="form-group">
                        <textarea name="description" id="textarea-description" class="form-control md-textarea validate fw" rows="2" required>{{ description }}</textarea>
                        <script>
                            tinymce.init({
                                selector: '#textarea-description',
                                height: 300,
                                plugins: [
                                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                                    'save table directionality emoticons template paste'
                                ],
                                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
                                language: '{{ summernote }}'
                            });
                        </script>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="datepicker" class="control-label label-small">{{ text_created_datetime }}</label>
                                <input name="created" id="datepicker" type="text" class="form-control datepicker validate"
                                       value="{{ created}}" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label label-small">{{ text_timezone }}</label>
                                <select name="timezone" class="selectpicker" data-width="100%">
                                    <option value="" {% if timezone == -1 %}selected{% endif %}>{{ text_select }}</option>
                                    {% for id, text in timezones %}
                                        {% if timezone > -1 and timezone == id %}
                                        <option value="{{ id }}" selected>{{ text }}</option>
                                        {% else %}
                                        <option value="{{ id }}">{{ text }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="support-icon-preview d-flex justify-content-center align-items-center" id="icon-preview">
                                        {% if icon > 0 %}
                                            <i class="fa fa-{{ icons[icon] }} fa-3x"></i>
                                        {% else %}
                                            <i class="fa fa-code fa-3x"></i>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <label class="control-label label-small fw">{{ text_icon }}</label>
                                    <select name="icon" class="selectpicker" data-width="100%" required>
                                        <option value="" disabled>{{ text_select }}</option>
                                        {% for id, iconItem in icons %}
                                            <option value="{{ id }}" data-icon="fa fa-{{ iconItem }}" {% if id == icon %} selected{% endif %}> {{ iconItem }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="support-color-preview d-flex justify-content-center align-items-center" id="color-preview">
                                        {% if color > 0 %}
                                            <div class="preview z-depth-1 {{ colors[color] }}"></div>
                                        {% else %}
                                            <div class="preview z-depth-1 default-color"></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <label class="control-label label-small fw">{{ text_color }}</label>
                                    <select name="color" class="selectpicker" data-width="100%" required>
                                        <option value="" disabled>{{ text_select }}</option>
                                        {% for id, colorItem in colors %}
                                            <option value="{{ id }}"{% if id == color %} selected{% endif %}> {{ colorItem }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label label-small fw">{{ text_status }}</label>
                            <select name="status" class="selectpicker" data-width="100%" required>
                                {% if status %}
                                    <option value="1" selected> {{ text_enabled }}</option>
                                    <option value="0"> {{ text_disabled }}</option>
                                {% else %}
                                    <option value="1"> {{ text_enabled }}</option>
                                    <option value="0" selected> {{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label label-small fw">{{ text_public }}</label>
                            <select name="public" class="selectpicker" data-width="100%" required>
                                {% if public %}
                                    <option value="1" selected> {{ text_yes }}</option>
                                    <option value="0"> {{ text_no }}</option>
                                {% else %}
                                    <option value="1"> {{ text_yes }}</option>
                                    <option value="0" selected> {{ text_no }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>

</div>
<script>
    function changeIcon(icon) {
        $('#icon-preview').html('<i class="fa fa-3x fa-'+icon.trim()+'"></i>');
    }
    $('select[name="icon"]').on('change', function () {
        let icon = $('select[name="icon"] option:selected').text();
        changeIcon(icon);
    });
    function changeColor(color) {
        $('#color-preview').html('<div class="preview z-depth-1 '+color.trim()+'"></div>');
    }
    $('select[name="color"]').on('change', function () {
        let color = $('select[name="color"] option:selected').text();
        changeColor(color);
    });

    //language support for datepicker
    //$.extend($.fn.pickadate.defaults, {
    //    monthsFull: ['{{ text_january }}', '{{ text_february }}', '{{ text_march }}', '{{ text_april }}', '{{ text_may }}',
    //        '{{ text_june }}', '{{ text_july }}', '{{ text_august }}', '{{ text_september }}', '{{ text_october }}', '{{ text_november }}', '{{ text_december }}'],
    //    weekdaysShort: ['{{ text_sunday_short }}', '{{ text_monday_short }}', '{{ text_tuesday_short}}',
    //        '{{ text_wednesday_short }}', '{{ text_thursday_short }}', '{{ text_friday_short }}', '{{ text_saturday_short }}'],
    //    today: '{{ text_today }}',
    //    clear: '{{ text_clear }}',
    //    close: '{{ text_close }}',
    //    formatSubmit: '{{ date_format_short }}'
    //});

    // Data Picker Initialization
    $('.datepicker').mask('{{ mask_timestamp }}', {placeholder: '{{ mask_placeholder_datetime }}'});
</script>
{{ footer }}