{{ header }}
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ol>
  </nav>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} showcase-list">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if articles %}
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label class="control-label label-small" for="input-sort">{{ text_sort }}</label>
          <div class="form-group">
            <select id="input-sort" class="selectpicker" data-width="100%" onchange="location = this.value;">
                {% for sorts in sorts %}
                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                      <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                    {% else %}
                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <label class="control-label label-small" for="input-limit">{{ text_limit }}</label>
          <div class="form-group">
            <select id="input-limit" class="selectpicker" data-width="100%" onchange="location = this.value;">
                {% for limits in limits %}
                {% if limits.value == limit %}
                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                {% else %}
                <option value="{{ limits.href }}">{{ limits.text }}</option>
                {% endif %}
                {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="container p-0">
        {% set counter = 0 %}
        {% for article in articles %}
        <div class="card article-card-big {% if counter is odd %}reverse{% endif %}">
            <div class="image">
              <a href="{{ article['href'] }}">
                <img src="{{ article['thumb'] }}" alt="{{ article['name'] }}" title="{{ article['name'] }}" class="img-responsive" />
              </a>
            </div>
            <div class="content card-body">
              <h4><a href="{{ article['href'] }}">{{ article['name'] }}</a></h4>
              <div class="info-row">
                <p class="views">{{ text_views }} {{ article.viewed }}</p>
                  {% if configblog_review_status %}
                      {% if article.rating %}
                        <div class="rating">
                            {% for i in 1..5 %}
                                {% if article.rating < i %}
                                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                {% else %}
                                  <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-2x"></i>
                                    <i class="fa fa-star-o fa-stack-2x"></i>
                                  </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                      {% endif %}
                  {% endif %}
                <p class="date">{{ article.date_added }}</p>
              </div>
              <p class="description">{{ article['description'] }}</p>
              <div class="d-flex justify-content-center bottom">
                <a href="{{ article.href }}" class="btn btn-primary">{{ button_more }}</a>
              </div>
            </div>
        </div>
        {% set counter = counter + 1 %}
       {% endfor %}
      </div>

      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}