{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
      <div class="tool-panel">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h5 class="card-title"><i class="fa fa-users"></i> {{ heading_title }}</h5>
      </div>
      <div class="card-body">
        <form class="form-horizontal">

          <div class="table-responsive">

            <table class="table table-striped table-hover">

              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center">
                    <div class="checkbox">
                      <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" id="check-all"/>
                      <label for="check-all"></label>
                    </div>
                  </td>
                  <td>{{ text_email }}</td>
                  <td>{{ text_date_added }}</td>
                  <td>{{ text_date_disable }}</td>
                  <td>{{ text_is_active }}</td>
                  <td>{{ text_actions }}</td>
                </tr>
              </thead>

              <tbody>
              {% if emails is not empty  %}
                {% for email in emails %}
                    <tr>
                      <td class="text-center">
                          <div class="checkbox">
                            {% if email.id in selected %}
                              <input type="checkbox" name="selected[]" value="{{ email.id }}" checked="checked" id="row-{{ email.id }}" />
                            {% else %}
                              <input type="checkbox" name="selected[]" value="{{ email.id }}" id="row-{{ email.id }}"/>
                            {% endif %}
                            <label for="row-{{ email.id }}"></label>
                          </div>
                      </td>
                      <td>{{ email.email }}</td>
                      <td>{{ email.date_added }}</td>
                      <td>{{ email.date_disable }}</td>
                      <td>{{ email.is_active }}</td>
                      <td>

                      </td>
                    </tr>
                {% endfor %}
              {% else %}
                  <tr><td colspan="6" class="text-center">{{ text_empty }}</td></tr>
              {% endif %}
              </tbody>


            </table>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}