{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
      <div class="tool-panel">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <a href="{{ repair }}" data-toggle="tooltip" title="{{ button_rebuild }}" class="btn btn-default"><i class="fa fa-refresh"></i></a>
        <button type="submit" form="form-category" formaction="{{ enabled }}" data-toggle="tooltip" title="{{ button_enable }}" class="btn btn-default"><i class="fa fa-play"></i></button>
        <button type="submit" form="form-category" formaction="{{ disabled }}" data-toggle="tooltip" title="{{ button_disable }}" class="btn btn-default"><i class="fa fa-pause"></i></button>
        <button type="button" form="form-category" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center">
                    <div class="checkbox">
                      <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" id="check-all" />
                      <label for="check-all"></label>
                    </div>
                  </td>
                  <td class="text-left">{{ column_name }}</td>
                  <td class="text-right">{{ column_sort_order }}</td>
				  <td class="text-right">{% if sort == 'noindex' %}
                    <a href="{{ sort_noindex }}" class="{{ order|lower }}">{{ column_noindex }}</a>
                    {% else %}
                    <a href="{{ sort_noindex }}">{{ column_noindex }}</a>
					{% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if categories %}
                {% for category in categories %}
                <tr>
                  <td class="text-center">
                    <div class="checkbox">
                      {% if category.category_id in selected %}
                        <input type="checkbox" name="selected[]" value="{{ category.category_id }}" checked="checked" id="row-{{ category.category_id }}"/>
                      {% else %}
                        <input type="checkbox" name="selected[]" value="{{ category.category_id }}" id="row-{{ category.category_id }}"/>
                      {% endif %}
                      <label for="row-{{ category.category_id }}"></label>
                    </div>
                  </td>
				  {% if category.href %}
                  <td class="left">{{ category.indent }}<a href="{{ category.href }}">{{ category.name }}</a>&nbsp;<i class="fa fa-sort-desc"></i></td>
					{% else %}
                  <td class="left">{{ category.indent }}{{ category.name }}</td>
                  {% endif %}
                  <td class="text-right">{{ category.sort_order }}</td>
				  <td class="text-right">{{ category.noindex }}</td>
                  <td class="text-right">
					<a target="_blank" href="{{ category.href_shop }}" data-toggle="tooltip" title="{{ button_shop }}" class="btn btn-success"><i class="fa fa-eye"></i></a>
					<a href="{{ category.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
				  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // IE and Edge fix!
  $('button[form=\'form-category\']').on('click', function(e) {
    $('#form-category').attr('action', $(this).attr('formaction'));
  });
</script>
{{ footer }}