<footer class="page-footer font-small mt-4" id="footer">
  <div class="container">
    <a href="https://monsters-studio.com" target="_blank">{{ text_project }}</a>
    |<a href="https://monsters-studio.com/system-docs" target="_blank">{{ text_documentation }}</a>
    |<a href="https://monsters-studio.com/support" target="_blank">{{ text_support }}</a>
  </div>
  <div class="footer-copyright text-center py-3">{{ text_footer }}<br />{{ text_version }}</div>
</footer>
<script src="view/javascript/mdb/static/js/mdb.min.js"></script>
<script src="view/javascript/common.js"></script>
</body></html>