<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script src="view/javascript/jquery/jquery-3.4.1.min.js"></script>
<link href="view/javascript/mdb/css/mdb.min.css" rel="stylesheet">
<script src="view/javascript/mdb/js/mdb.min.js"></script>
<script src="view/javascript/tinymce/tinymce.min.js"></script>
<script src="view/javascript/tinymce/langs/{{ code }}.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="view/stylesheet/stylesheet.css" rel="stylesheet" media="screen" />
<link href="view/stylesheet/gradients.css" rel="stylesheet" />
{% for script in scripts %}
<script src="{{ script.href }}" {{ script.options }}></script>
{% endfor %}
{% for style in styles %}
<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<script src="view/javascript/common.js"></script>
{% if logged %}
    {% if debugbar %}
        {{ debugbar.renderHead() }}
    {% endif %}
{% endif %}
</head>
<body>
<div id="container">
{% if not logged %}
<nav class="navbar navbar-expand-sm navbar-light sticky-top bg-light">
  {% if logged %}
  <a class="btn bmd-btn-fab bmd-btn-fab-sm" id="button-menu"><i class="fa fa-bars"></i></a>
  {% endif  %}

    <a class="navbar-brand" href="{{ home }}">
        <img src="view/image/ninja-store-design/ninja-skype.png" alt="{{ heading_title }}" title="{{ heading_title }}" class="logo"/>
        <strong>Ninja Store 3</strong>
    </a>

  <ul class="navbar-nav user-menu">
      {% if not logged %}
          <li class="nav-item"><a href="{{ href_sign_in }}" class="nav-link">{{ text_sign_in }}</a></li>
          <li class="nav-item"><a href="{{ href_forgot_password }}" class="nav-link">{{ text_forgot_password }}</a></li>
      {% endif %}
  </ul>

  <ul class="navbar-nav user-menu">
    {% if logged %}
      <li class="nav-item">
        <a href="{{ projects }}" class="nav-link"><i class="fa fa-tasks"></i> {{ text_projects }}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ username }}" id="user-profile" class="avatar-circle" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-user-menu">
            <a href="{{ profile }}" class="dropdown-item"><i class="fa fa-user-circle-o fa-fw"></i> {{ text_profile }}</a>
            {% for store in stores %}
              <a href="{{ store.href }}" target="_blank" class="dropdown-item">{{ store.name }}</a>
            {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a href="{{ logout }}" class="nav-link"><i class="fa fa-power-off"></i></a>
      </li>
    {% endif %}
  </ul>

</nav>

{% else %}

    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid justify-content-between">
            <!-- Left elements -->
            <div class="d-flex">
                <!-- Brand -->
                <a class="navbar-brand" href="{{ home }}">
                    <img src="view/image/ninja-store-design/ninja-skype.png" alt="{{ heading_title }}" title="{{ heading_title }}" class="logo"/>
                    <strong>Ninja Store 3</strong>
                </a>

                <!-- Search form -->
{#                <form class="input-group w-auto my-auto d-none d-sm-flex">#}
{#                    <input#}
{#                            autocomplete="off"#}
{#                            type="search"#}
{#                            class="form-control rounded"#}
{#                            placeholder="Search"#}
{#                            style="min-width: 125px;"#}
{#                    />#}
{#                    <span class="input-group-text border-0 d-none d-lg-flex"#}
{#                    ><i class="fa fa-search"></i#}
{#                        ></span>#}
{#                </form>#}
            </div>
            <!-- Left elements -->

            <!-- Center elements -->
            <ul class="navbar-nav flex-row d-none d-md-flex">
                <li class="nav-item me-3 me-lg-1 active" id="btn-main-menu">
                    <a class="nav-link">
                        <span><i class="fa fa-bars fa-lg"></i></span>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-1 active">
                    <a class="nav-link" href="{{ home }}">
                        <span><i class="fa fa-home fa-lg"></i></span>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link" href="{{ href_settings }}">
                        <span><i class="fa fa-cog fa-lg"></i></span>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link" href="{{ href_language }}">
                        <span><i class="fa fa-flag fa-lg"></i></span>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link" href="{{ href_currency }}">
                        <span><i class="fa fa-dollar fa-lg"></i></span>
                    </a>
                </li>

            </ul>
            <!-- Center elements -->

            <!-- Right elements -->
            <ul class="navbar-nav flex-row">

{#                <div class="dropdown">#}
{#                    <li class="nav-item me-3 me-lg-1">#}
{#                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuAdd" data-mdb-toggle="dropdown" aria-expanded="false">#}
{#                            <span><i class="fa fa-plus-circle fa-lg"></i></span>#}
{#                        </a>#}
{#                    </li>#}

{#                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAdd">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}

{#                </div>#}

                <li class="nav-item me-lg-1">
                    <a class="nav-link" href="{{ href_product }}" role="button">
                        <i class="fa fa-shopping-bag fa-lg"></i>
                    </a>
                </li>

                <li class="nav-item me-lg-1">
                    <a class="nav-link" href="{{ href_order }}" role="button">
                        <i class="fa fa-comments fa-lg"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link" href="{{ href_customer }}">
                        <span><i class="fa fa-users fa-lg"></i></span>
                    </a>
                </li>

                <li class="nav-item dropdown me-3 me-lg-1">
                    <a
                            class="nav-link dropdown-toggle hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="fa fa-bell fa-lg"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">12</span>
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link" href="{{ projects }}">
                        <span><i class="fa fa-tasks"></i> {{ text_projects }}</span>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                        <img src="{{ image }}" class="rounded-circle" height="22" alt="{{ firstname }} {{ lastname }}"/>
                        <strong class="d-none d-sm-block ms-1">{{ firstname }} {{ lastname }}</strong>
                    </a>
                </li>

                <li class="nav-item dropdown me-3 me-lg-1">
                    <a
                            class="nav-link dropdown-toggle hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="fa fa-chevron-circle-down fa-lg"></i>
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Right elements -->
        </div>
    </nav>
    <!-- Navbar -->

{% endif %}