{{ header }}
<header id="content">
  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.9);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-md-8">
            <form class="bg-white-transparent rounded shadow-5-strong p-5">
              <h2>{{ text_login }}</h2>

              {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
              {% endif %}

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="input-login" class="form-control" />
                <label class="form-label" for="input-login">{{ entry_username }}</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="input-password" class="form-control" />
                <label class="form-label" for="input-password">{{ entry_password }}</label>
              </div>

              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center"></div>

                <div class="col text-center">
                  <!-- Simple link -->
                  {% if forgotten %}
                    <a href="{{ forgotten }}">{{ text_forgotten }}</a>
                  {% endif %}
                </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block">{{ button_login }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
{{ footer }}